@import "tailwindcss";

html ,body {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman";
  background: #0a0a0a;
  color: #f3f4f6;
  
}

@layer utilities {
    @keyframes blink {
      0%,100% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
  }

  .animate-blink {
    animation: blink 0.3s step-end infinite
  }

  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%);
    }
  }

  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }
}

.scroll-reveal {
  will-change: transform, opacity;
  /* Improve performance by hinting to the browser what will change */
}

/* Optional: Add these if you want to ensure the animation doesn't affect layout */
.scroll-reveal {
  display: inline-block; /* or flex, depending on your layout needs */
  width: 100%;
}